.template {
  font-family: "ABeeZee", sans-serif;
  font-family: "Anonymous Pro", monospace;
  font-family: "Chelsea Market", cursive;
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Pangolin", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  font-family: "Sofia Sans Condensed", sans-serif;
}
